<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adda ny uppgift</title>
    <link th:href="@{/todo.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="title">Lägg till en ny uppgift!</h1>
    <form method="post" th:action="@{/todo}" style="text-align: center">
        <input type="text" name="title" placeholder="Titel">
        <br><br>
        <textarea name="message" placeholder="Mata in din nya uppgift..."></textarea>
        <br><br>
        <input type="submit" value="Spara">
    </form>
</div>


</body>
</html>